body {
    background: url(images/background.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.logoParent {
    display: flex;
    justify-content: center;
    /* border: solid orange; */
    margin-top: 5vh;
}

.logos {
    display: flex;
    height: 100%;
    width: 30%;
    flex-direction: column;
}

#logo2 {
    width: 70%;
}

.theCrew {
    margin-top: 10vh;
}

.btn {
    margin-top: 10px;
    background-color: #3A37C8;
}

.mainBackground {
    background-image: url(images/rugratsback.png);
    display: flex;
    justify-content: center;
}

.logoMainParent {
    margin-top: -5vh;
    display: inline-block;
}

.mainLogos #logo1 {
    height: 15vh;
    width: 25vh;
}

.mainLogos #logo2 {
    height: 8vh;
    width: 25vh;
}

.gameBoard {
    position: relative;
    margin-top: 10vh;
    display: grid;
    height: 70vh;
    width: 80vw;
}

.questionDiv {
    margin-top: 12vh;
    display: none;
    position: absolute;
    z-index: 997;
    background: #3A37C8;
    height: 70vh;
    width: 80vw;
    text-align: center;
    color: white;
}

#bubbleQuestion {
    /* background: red; */
    background-image: url(images/speechbubble.png);
    height: 265px;
    width: 350px;
}

#ques {
    /*background: green; */
    height: 150px;
    width: 200px;
    margin-top: 30px;
    margin-left: -30px;
}

#charDiv {
    /* background: pink; */
    display: flex;
    justify-content: flex-end;
}

#quesChar {
    /* background: yellow; */
    margin-top: -40px;
}

.ansBttnDiv {
    height: 200px;
    width: 100%;
    margin-top: -200px;
}

.ansBttn {
    display: flex;
    justify-content: center;
    border-radius: 15px;
    width: 200px;
    height: 50px;
    margin-bottom: 10px;
    font-weight: bold;
    color: #3A37C8;
}

.topRow {
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
}

.row1 {
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
}

.row2 {
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
}

.row3 {
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
}

.row4 {
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
}

.bttmRow {
    margin-top: 20px;
    height: 70px;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
}

.topcol {
    border: solid #3A37C8;
    width: 60%;
    height: 60%;
    font-size: 6pt;
    text-align: center;
    margin: 15px;
}


/* Round Corners */

.col {
    border: solid #3A37C8;
    width: 40%;
    height: 60%;
    font-size: 24pt;
    text-align: center;
    padding-top: 40px;
    margin: 15px;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: border-radius;
    transition-property: border-radius;
}

.col:hover, .col:focus, .col:active {
    border-radius: 1em;
}

.bttmcol {
    display: flex;
    border-left: solid #3A37C8;
    width: 50%;
    height: 100%;
    font-size: 20pt;
    margin-left: 15px;
}

.username {
    margin-top: 20px;
}

.compuname {
    margin-top: 20px;
}

.userscore {
    margin-left: 100px;
    margin-top: 20px;
}

.compuscore {
    margin-left: 100px;
    margin-top: 20px;
}

.usernameDiv {
    margin-top: 3vh;
}

#usernameInput {
    font-size: 16px;
    width: 50vw;
    text-align: center;
    height: 4vh;
}

#usernameButton {
    font-size: 13px;
    color: white;
    width: 5vw;
    height: 4vh;
    outline: none;
}