body {
    background: url(images/background.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.logoParent {
    display: flex;
    justify-content: center;
    margin-top: 5vh;
}

.logos {
    display: flex;
    height: 100%;
    width: 30%;
    flex-direction: column;
}

#logo2 {
    width: 70%;
}

.theCrew {
    margin-top: 10vh;
}

.btn {
    margin-top: 10px;
    background-color: #3A37C8;
}

.mainBackground {
    background-image: url(images/rugratsback.png);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    justify-content: center;
}

.logoMainParent {
    margin-top: -5vh;
    display: inline-block;
}

.mainLogos #logo1 {
    height: 15vh;
    width: 25vh;
}

.mainLogos #logo2 {
    height: 8vh;
    width: 25vh;
}

.gameBoard {
    position: absolute;
    margin-top: 10vh;
    display: grid;
    height: 70vh;
    width: 80vw;
}

.endOfGameNameAndScore{
    width:30vw;
    /* border: solid; */
    display: flex;
    justify-content: center;
    font-size: 22pt;
    border-top: solid;
}

.winnerDiv{
    background: white;
    position: relative;
    margin-top: 5vh;
    display: none;
    height: 70vh;
    width: 40vw;
    z-index: 1;
    text-align: center;
    border-radius: 40px;
    -webkit-box-shadow: 0 0 100px Green;
    box-shadow: 0 0 100px Green;
}
.winnerDiv h1{
    color: Green;
}

.loserDiv{
    background: white;
    position: relative;
    margin-top: 5vh;
    display: none;
    height: 70vh;
    width: 40vw;
    z-index: 1;
    text-align: center;
    border-radius: 40px;
    -webkit-box-shadow: 0 0 100px red;
    box-shadow: 0 0 100px red;
}

.loserDiv h1{
    color:red;
}

.tieDiv{
    background: white;
    position: relative;
    margin-top: 5vh;
    display: none;
    height: 70vh;
    width: 40vw;
    z-index: 1;
    text-align: center;
    border-radius: 40px;
    -webkit-box-shadow: 0 0 100px #3A37C8;
    box-shadow: 0 0 100px #3A37C8;
}

#endButton{
    width: 10vw;
    height: 5vh;
    color: white;
    font-size: 16pt;
    margin-top: 3vh;
}
.questionDiv {
    margin-top: 12vh;
    display: none;
    position: absolute;
    z-index: 997;
    background: #3A37C8;
    height: 70vh;
    width: 80vw;
    text-align: center;
    color: white;
}

#bubbleQuestion {
    background-image: url(images/speechbubble.png);
    height: 265px;
    width: 350px;
}

#ques {
    height: 150px;
    width: 200px;
    margin-top: 30px;
    margin-left: -30px;
}

#charDiv {
    display: flex;
    justify-content: flex-end;
}

#charDiv2 {
    display: flex;
    justify-content: flex-end;
}

#charDiv3 {
    display: flex;
    justify-content: flex-end;
}

#charDiv4 {
    display: flex;
    justify-content: flex-end;
}

#charDiv5 {
    display: flex;
    justify-content: flex-end;
}

#charDiv6 {
    display: flex;
    justify-content: flex-end;
}

#charDiv7 {
    display: flex;
    justify-content: flex-end;
}

#charDiv8 {
    display: flex;
    justify-content: flex-end;
}

#charDiv9 {
    display: flex;
    justify-content: flex-end;
}

#charDiv10 {
    display: flex;
    justify-content: flex-end;
}

#charDiv11 {
    display: flex;
    justify-content: flex-end;
}

#charDiv12 {
    display: flex;
    justify-content: flex-end;
}

#charDiv13 {
    display: flex;
    justify-content: flex-end;
}

#charDiv14 {
    display: flex;
    justify-content: flex-end;
}

#charDiv15 {
    display: flex;
    justify-content: flex-end;
}

#charDiv16 {
    display: flex;
    justify-content: flex-end;
}

#quesChar {
    margin-top: -40px;
}

.ansBttnDiv {
    height: 200px;
    width: 100%;
    margin-top: -200px;
}

.ansBttn {
    display: flex;
    justify-content: center;
    border-radius: 15px;
    width: 200px;
    height: 50px;
    margin-bottom: 10px;
    font-weight: bold;
    color: #3A37C8;
    text-decoration: none;
    outline: none;
}

.ansBttn:hover{
    background: #3A37C8;
    color: white;
}

.ansBttn:active {
    background: #e5e5e5;
    -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
       -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
            box-shadow: inset 0px 0px 5px #c1c1c1;
     outline: none;
  }

.topRow {
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
}

.row1 {
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
}

.row2 {
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
}

.row3 {
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
}

.row4 {
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
}

.bttmRow {
    margin-top: 20px;
    height: 70px;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
}

.topcol {
    border: solid #3A37C8;
    width: 60%;
    height: 60%;
    font-size: 6pt;
    text-align: center;
    margin: 15px;
}


/* Round Corners */

.col {
    border: solid #3A37C8;
    width: 40%;
    height: 60%;
    font-size: 24pt;
    text-align: center;
    padding-top: 40px;
    margin: 15px;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: border-radius;
    transition-property: border-radius;
}

.col:hover, .col:focus, .col:active {
    border-radius: 1em;
}

.bttmcol {
    display: flex;
    border-left: solid #3A37C8;
    width: 50%;
    height: 100%;
    font-size: 20pt;
    margin-left: 15px;
}

.username {
    margin-top: 20px;
}

.compuname {
    margin-top: 20px;
}

.userscore {
    margin-left: 100px;
    margin-top: 20px;
}

.compuscore {
    margin-left: 100px;
    margin-top: 20px;
}

.usernameDiv {
    margin-top: 3vh;
}

#usernameInput {
    font-size: 16px;
    width: 50vw;
    text-align: center;
    height: 4vh;
}

#usernameButton {
    font-size: 13px;
    color: white;
    width: 5vw;
    height: 4vh;
    outline: none;
}

#goodjob {
    display: none;
}

#nexttime {
    display: none;
}

/*beginning of modal ss*/

a {
    color: #3A37C8;
}

.modalDialog h2 {
    color: #3A37C8;
    font-weight: bold;
	text-align: center;
}

p {
    border: dotted;
    text-align: center;
    margin: 15px;
}

.modimg {
	display: block;
    margin: auto;
    margin-bottom: 10px;
    width: 10vw;
    max-height: 30vh;
}

.modalDialog {
	position: fixed;
	font-family: Arial, Helvetica, sans-serif;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.9);
	z-index: 99999;
	opacity: 0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
}

.modalDialog:target {
	opacity: 1;
	pointer-events: auto;
}

.modalDialog > div {
	width: 45vw;
	position: relative;
	margin: 8% auto;
	padding: 5px 20px 13px 20px;
	border-radius: 10px;
    background: #fff;
    color: #424242;
    text-align: center;
}

.closeModal {
    background: #3A37C8;
	color: #FFFFFF;
	line-height: 25px;
	position: absolute;
	right: -12px;
	text-align: center;
	top: -10px;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;
}

.closeModal:hover {
     background: red;
    color: white;
    text-decoration: none;
}

.modalButton {
    margin: 1em;
    width: 10vw;
    height: 5vh;
    border-radius: 1em;
    outline: none;
    font-size: .8em;
}

.modalButton:hover {
    background: #424242;
    color: white;
}

/*end of modal ss*/